<style xmlns="http://www.w3.org/1999/html">

</style>

<div class="app">

  <div class="app-body">
    <div class="main">
      <div align="center" style="padding-bottom: 15px">
        <button mat-raised-button color="success" (click)="validate()">
        <span class="material-icons">
          done
        </span>
        </button>
      </div>
      <div *ngIf="isDataAvailable">
        <img src="{{selectedImage.originalImageURL}}" alt="image">
      </div>
    </div>
  </div>
  <div class="app-scroll"><a href="#">{{allImages.length}}</a>
    <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
      <div *cdkVirtualFor="let item of allImages" >
        <img [ngClass]="item.status === 'OK' ? 'validated thumb':'thumb'" src="{{item.thumbedImageURL}}" alt="image" (click)="showImage(item)">
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>


