<style xmlns="http://www.w3.org/1999/html">

</style>

<div class="app">

  <form enctype="multipart/form-data" class="app-body">
    <div *ngIf="isDataAvailable">
      <img src="{{getUrl(selectedImage)}}" alt="image">
    </div>

    <a href="#">body</a>
  </form>
  <div class="app-scroll"><a href="#">scroller</a>
    <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
      <div *cdkVirtualFor="let item of allImages" class="example-item">
        <img class="thumb" src="{{getUrl(item)}}" alt="image" (click)="showImage(item)">
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>


